$MoveoColor1: #c55c57;
$MoveoColor2: #525566;

.welcome-page{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: $MoveoColor2;
    .title{
        font-size: 5rem;
        color: white;
    }
    input{
        height: 2rem;
        width: 10rem;
    }
    .play-buttons{
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
    }
    .play-button{
        margin-top: 0.3rem;
        height: 2rem;
        width: 10rem;
    }
    
}