.words-choice{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: lightgrey;

    .word-button {
        cursor: pointer;
        background-color: $MoveoColor2;
        border: solid 4px $greyish;
        border-radius: 1rem;
        font-size: 2.5rem;
        padding: 0.5rem;
        width: 100%;

        color: #b7d0d2;
        &:hover {
            transition: 0.2s ease-in-out;
            background-color: $MoveoColor1;
        }
    }
}