$MoveoColor1: #c55c57;
$MoveoColor2: #525566;
$MoveoColor1-b: #ff9f9a4c;
$MoveoColor2-b: #52556675;
$greyish: rgb(216, 216, 216);



*{
    font-family: 'Dosis', 'sans-serif';
    body{
        margin: 0;
    }
}




@import "./WelcomePage";
@import "./DrawingPage";
@import "./WaitingPage";
@import "./WordChoicePage";
@import "./GuessingPage";