* {
  font-family: 'Dosis', 'sans-serif';
}

.welcome-page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #525566;
}

.welcome-page .title {
  font-size: 5rem;
  color: white;
}

.welcome-page input {
  height: 2rem;
  width: 10rem;
}

.welcome-page .play-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
}

.welcome-page .play-button {
  margin-top: 0.3rem;
  height: 2rem;
  width: 10rem;
}

.drawing-page {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98vh;
  width: 100%;
  border-radius: 2rem;
  background-color: #525566;
}

.drawing-page .canvas {
  border-radius: inherit;
  border: solid 4px #d8d8d8;
}

.drawing-page p {
  font-size: 1rem;
  margin: 0.3rem;
  color: white;
  text-shadow: 0 1px black;
}

.drawing-page .button {
  cursor: pointer;
  width: 10rem;
  margin: 0.25rem;
  font-size: 1.2rem;
  background-color: #c55c57;
  border: solid 4px #d8d8d8;
  border-radius: 1rem;
  padding: 0.25rem;
  color: #b7d0d2;
}

.drawing-page .button:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #3d4db2;
}

.waiting-page {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  width: 100%;
}

.words-choice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
  background-color: lightgrey;
}

.words-choice .word-button {
  cursor: pointer;
  background-color: #525566;
  border: solid 4px #d8d8d8;
  border-radius: 1rem;
  font-size: 2.5rem;
  padding: 0.5rem;
  width: 100%;
  color: #b7d0d2;
}

.words-choice .word-button:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #c55c57;
}

.guessing-page {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 98vh;
  width: 100%;
  border-radius: 2rem;
  background-color: #c55c57;
}

.guessing-page .canvas {
  border-radius: inherit;
  border: solid 4px #d8d8d8;
}

.guessing-page input {
  border-radius: inherit;
  background-color: #525566;
  border: solid 4px #d8d8d8;
  padding: 0.25rem;
  color: white;
}

.guessing-page p {
  font-size: 1rem;
  margin: 0.3rem;
  text-shadow: 0 1px black;
  color: white;
}

.guessing-page .button {
  cursor: pointer;
  width: 10rem;
  margin: 0.25rem;
  font-size: 1.2rem;
  background-color: #525566;
  border: solid 4px #d8d8d8;
  border-radius: 1rem;
  padding: 0.25rem;
  color: #b7d0d2;
}

.guessing-page .button:hover {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  background-color: #3d4db2;
}
/*# sourceMappingURL=App.css.map */